/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#background-img {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(./images/home.jpg);
}

#header-home {
  font-family: galada;
}

/* END DEMO */





