body,
html {
  font-family: Arial;
  font-size: 11.5pt;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-attachment: fixed;
}
#background-img {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(./components/images/home.jpg);
  background-attachment: fixed;
}
#header-home1 {
  font-family: didact + gothic;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  padding: 20px;
}
#header-home2 {
  font-family: galada;
  font-size: 140px;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}
#header-box {
  background: rgba(0, 0, 0, 0.55);
  color: white;
  margin: 250px 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
}
.search-box {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 600px;
  border-radius: 50px;
}
.search-box h1 {
  color: white;
}
.home-page-input {
  width: 350px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 15px;
  font-weight: bold;
}
.home-nav {
  font-family: roboto;
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-decoration: none;
  padding: 18px;
  text-decoration: none;
  color: white;
  align-items: center;
  background-attachment: fixed;
}
a {
  padding: 20px;
  margin: auto;
  color: white;
}
.home-nav :hover {
  text-decoration: none;
  transform: scale(1.1);
  text-shadow: 5ex;
  color: white;
}
.burger-animation {
  padding-top: 0;
}
.burger-button {
  display: flex;
  background-repeat: no-repeat;
  float: left;
  object-fit: contain;
  height: 60px;
  width: 60px;
  align-items: flex-start;
}
.nav-links {
  text-emphasis-color: white;
}
/* //CSS for About Us// */
.about-us-banner {
  background-image: url('./components/images/sushi-full-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}
.team-munchies {
  grid-row: 1000px;
  width: 60%;
  font-family: galada;
  font-size: 80px;
  padding-left: 1%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  bottom: 65px;
}
.our-names {
  font-family: didact + gothic;
  font-size: 20px;
}
.flex-picture-names {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}
.profile-block {
  object-fit: contain;
}
.inner-flex {
  text-align: center;
}
.our-names {
  text-align: center;
}
.about-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 360%;
  border: 3px solid black;
}
.about-pic:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.linkedin-logo {
  height: 42px;
  width: 42px;
  padding: 3px;
}
.linkedin-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.github-logo {
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 10%;
  margin-top: 5.5px;
}
.github-logo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.about-paragraph {
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}
.why-munchies {
  padding: 10px;
}
.filters {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: roboto;
}
.options {
  display: flex;
  justify-content: center;
}
select {
  margin-right: 10px;
}
.place-search {
  margin-left: 5px;
  width: 250px;
  border-radius: 5px;
  border: 1.4px solid #cccccc;
}
.is-active {
  color: yellow !important;
}
