/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#background-img {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(./components/images/home.jpeg);
}

#header-home {
  font-family: galada;
}

.search-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}
.search-box {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}
.search-box h1 {
  color: white;
}


/* END DEMO */





